.item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #5b42cb;
  border: 1px solid #7358ea;
  max-width: 185px;
}
.active {
  background-color:#3b2a84 !important;
  border: 1px solid #7358ea !important;
}
