.bird-image {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.player {
  min-width: 300px;
  background-color: #222222 !important;
}

.rhap_main-controls svg {
  color: #375a7f !important;
}